<!--
    boilerplate for all HTML files within the application.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date OHIO</title>
</head>
<body>
    Before
    <br>
    <!-- render the header-->
    <%- include('../components/header.ejs') %>
    <%- include('../components/errorMessage.ejs') %>    

    <!--placeholder for the body-->
    <%- body %>
    <br>
    After
</body>
</html>