<!--delete: make a form to use method overriding to send delete request -->
<form method="POST" action='<%= url %>?_method=DELETE'>
    <button class="btn btn-dangerous" type='submit'>delete</button>
</form>