<header>
    <nav>
        <a href='/'>Date OHIO</a>
        <ul>
            <li><a href='/companies'>companies</a></li>
            <li><a href='/companies/new'>add companies</a></li>
        </ul>
    </nav>
</header>
