<header>
    <nav>
        <a href='/'>Application Tracker</a>
        <ul>
            <li><a href='/companies'>companies</a></li>
            <li><a href='/companies/new'>add companies</a></li>
            <li><a href='/applications'>applications</a></li>
            <li><a href='/applications/new'>create new applications</a></li>
        </ul>
    </nav>
</header>
