<div class='page-header'>
<p> Why Application Tracker? 
<h1 class="home-page">Keep track of</h1>
<h1 class="home-page">your job applications</h1>
<h1 class="home-page">using this app now!!!</h1>
</div>