<h2>Edit company HERE</h2>

<!--send a put request to /companies/{id} route -->
<form action='/companies/<%= company.id %>?_method=PUT' method='POST'>

    <%- include('_form_field.ejs')%>
    <!--cancel the creation of a new company-->
    <a href='/companies/<%= company.id %>'>Cancel</a>
    <!--submit the form-->
    <button type='submit'>Update</button>
</form>