<h2 class='page-header'>Add a New Company</h2>

<!--send a post request to /companies route -->
<form action='/companies' method='POST'>
    <div class="form-row">
        <div class="form-item">
            <%- include('_form_field.ejs')%>
        </div>
    </div>
    <div class="btn-row form-row-end">
        <!--cancel the creation of a new company-->
        <a class="btn btn-dangerous" href='/companies'>Cancel</a>
        <!--submit the form-->
        <button class="btn btn-primary" type='submit'>Create</button>
    </div>
</form>